 
#div1 {
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    left: 0;
    animation-name: div1;
    margin-top: 10px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}






@keyframes div1 {
   0%{background-color: blue; left: 0; top: 0px;}

   /* 25%{background-color: rgb(255, 0, 0); left: 200px;} */

   50%{background-color: rgb(106, 255, 0); left: 400px;}

   75%{background-color: rgb(217, 255, 0); left: 800px;}

   100%{background-color: rgb(255, 115, 0); left: 1400px;}
}


/* /////////////////////////////////////////// */

#div2 {
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    border-radius: 8px;
    left: 1400px;
    padding: 10px;
    animation-name: div2;
    margin-top: 30px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-direction: reverse;
}






@keyframes div2 {
   0%{background-color: blue; left: 0; top: 0px;}

   /* 25%{background-color: rgb(255, 0, 0); left: 200px;} */

   50%{background-color: rgb(106, 255, 0); left: 400px;}

   75%{background-color: rgb(217, 255, 0); left: 800px;}

   100%{background-color: rgb(0, 255, 102); left: 1400px;}
}


/* /////////////////////////////////////////// */

#div3 {
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    animation-name: div3;
    margin-top: 30px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}






@keyframes div3 {
   0%{background-color: blue; left: 0; top: 0px;}

   /* 25%{background-color: rgb(255, 0, 0); left: 200px;} */

   50%{background-color: rgb(106, 255, 0); left: 400px;}

   75%{background-color: rgb(217, 255, 0); left: 800px;}

   100%{background-color: rgb(0, 234, 255); left: 1400px;}
}



/* /////////////////////////////////////////// */

#div4 {
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    border-radius: 8px;
    left: 1400px;
    padding: 10px;
    animation-name: div4;
    margin-top: 30px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 7s;
    animation-direction: reverse;
}






@keyframes div4 {
   0%{background-color: blue; left: 0; top: 0px;}

   /* 25%{background-color: rgb(255, 0, 0); left: 200px;} */

   50%{background-color: rgb(106, 255, 0); left: 400px;}

   75%{background-color: rgb(217, 255, 0); left: 800px;}

   100%{background-color: rgb(157, 0, 255); left: 1400px;}
}



/* /////////////////////////////////////////// */

#div5 {
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    animation-name: div5;
    margin-top: 30px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 9s;
}






@keyframes div5 {
   0%{background-color: blue; left: 0; top: 0px;}

   /* 25%{background-color: rgb(255, 0, 0); left: 200px;} */

   50%{background-color: rgb(106, 255, 0); left: 400px;}

   75%{background-color: rgb(217, 255, 0); left: 800px;}

   100%{background-color: rgb(255, 0, 183); left: 1400px;}
}



/* /////////////////////////////////////////// */

#div6 {
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
    border-radius: 8px;
    left: 1400px;
    padding: 10px;
    animation-name: div6;
    margin-top: 30px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 11s;
    animation-direction: reverse;
}






@keyframes div6 {
   0%{background-color: blue; left: 0; top: 0px;}

   /* 25%{background-color: rgb(255, 0, 0); left: 200px;} */

   50%{background-color: rgb(106, 255, 0); left: 400px;}

   75%{background-color: rgb(217, 255, 0); left: 800px;}

   100%{background-color: rgb(255, 0, 0); left: 1400px;}
}